<h2>System Information</h2>
<section class="sysInfo">
    <article>
        <div class="dataBox">
            <h4>Argumentos de entrada:</h4>
            <p>{{processData.args}}</p>
        </div>
        <div class="dataBox">
            <h4>Sistema Operativo:</h4>
            <p>{{processData.so}}</p>
        </div>
        <div class="dataBox">
            <h4>Node Version:</h4>
            <p>{{processData.node}}</p>
        </div>
    </article>
    <article>
        <div class="dataBox">
            <h4>Memoria total reservada:</h4>
            <p>{{processData.memory}}</p>
        </div>
        <div class="dataBox">
            <h4>Path de ejecucion:</h4>
            <p>{{processData.path}}</p>
        </div>
        <div class="dataBox">
            <h4>Process ID:</h4>
            <p>{{processData.pid}}</p>
        </div>
        <div class="dataBox">
            <h4>Carpeta del proyecto:</h4>
            <p>{{processData.cwd}}</p>
        </div>
    </article>
</section>